@model StickyRegistration.Models.StickyRegistrationResultViewModel

@{
    ViewData["Title"] = "StickyRegistrationResultView";
}

<h1>Sticky Registration Result</h1>

<hr />

<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
    <div class="card-header">@Model.Title</div>
    <div class="card-body">
        <p class="card-text">
        <p>
            <span>Category - @Model.Category</span>
        </p>
        <p>
            <span>Description - @Model.Description</span>


        </p>
        <p>
            <span>Date - @DateTime.Now</span>
        </p>
        <p>
            <span>Address - @Model.Address</span>
        </p>
        <p>
            <span>Name - @Model.Name</span>
        </p>
    </div>
</div>

<body>

    <div class="container">
        <div class="alert alert-success">
            <strong>Success!</strong>@Model.Result
        </div>
    </div>

</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
